<!DOCTYPE html>
<html lang="zh" style="height: 100%" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta http-equiv="Content-Type" content="text/html;charset=UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="用户输入查询码查询真伪">
    <!--  使用 jQuery 框架  -->
    <script th:src="@{/webjars/jquery/3.4.1/jquery.js}"></script>
    <!--  使用 bootstrap 框架-->
    <link rel="stylesheet" th:href="@{/webjars/bootstrap/3.3.7/css/bootstrap.css}">
    <link rel="stylesheet" th:href="@{/css/common.css}">
    <script th:src="@{/webjars/bootstrap/3.3.7/js/bootstrap.js}"></script>
    <title>产品真伪查询</title>
</head>
<body style="height: 100%">
<div th:replace="common::topbar"></div>
<div class="container-fluid bgcontain">
    <div class="row">
        <div class="col-sm-1 col-md-2 col-lg-3"></div>
        <div class="col-xs-12 col-sm-10 col-md-8 col-lg-6">
            <h1 style="text-align: center; padding-top: 10%; color: #398439">请妥善保管您的二维码</h1>
            <div style="text-align: center; padding-top: 10%">
                <img th:src="@{/images/code2.png}"/>
            </div>

        </div>
        <div class="col-sm-1 col-md-2 col-lg-3"></div>
    </div>
</div>
</body>
</html>