<!DOCTYPE html>
<html lang="zh" style="height: 100%" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta http-equiv="Content-Type" content="text/html;charset=UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="用户输入查询码查询真伪">
    <!--  使用 jQuery 框架  -->
    <script th:src="@{/webjars/jquery/3.4.1/jquery.js}"></script>
    <!--  使用 bootstrap 框架-->
    <link rel="stylesheet" th:href="@{/webjars/bootstrap/3.3.7/css/bootstrap.css}">
    <link rel="stylesheet" th:href="@{/css/common.css}">
    <script th:src="@{/webjars/bootstrap/3.3.7/js/bootstrap.js}"></script>
    <title>您好，[[${session.user.getName()}]]</title>
</head>
<body style="height: 100%">
<div th:replace="common::Memtopbar(username=${session.user.name})"></div>
<div class="container-fluid bgcontain">
    <div class="row" style="background:rgba(255,255,255,0.5); height: 100%">
        <div class="col-sm-1 col-md-2 col-lg-2"></div>
        <div class="col-xs-12 col-sm-10 col-md-8 col-lg-8">
            <form class="form-inline" method="post" th:action="@{/leather}" style="padding-top: 30%;">
                <div class="form-group">
                    <label for="hideProducer">厂家编号</label>
                    <input type="text" class="form-control" id="hideProducer" name="hideProducer"
                           style="width: 3em" th:value="${session.user.id}" readonly>
                </div>
                <div class="form-group">
                    <label for="tanning">鞣制方法</label>
                    <select class="form-control" id="tanning" name="tanning">
                        <option value="0">铬鞣</option>
                        <option value="1">植鞣</option>
                        <option value="2">铝鞣</option>
                        <option value="3">油鞣</option>
                    </select>
                </div>
                <div class="form-group">
                    <label for="layer">皮革品质</label>
                    <select class="form-control" id="layer" name="layer">
                        <option value="0">全粒面皮</option>
                        <option value="1">头层皮</option>
                        <option value="2">二层皮</option>
                        <option value="3">磨砂绒皮</option>
                        <option value="4">纤维皮</option>
                    </select>
                </div>
                <div class="form-group">
                    <label for="hideSerial">生皮序列号</label>
                    <input type="text" class="form-control" id="hideSerial" name="hideSerial"
                           placeholder="请输入生皮原料的序列号">
                </div>
                <button type="submit" class="btn btn-success">提交</button>
            </form>
        </div>
        <div class="col-sm-1 col-md-2 col-lg-2"></div>
    </div>
</div>
</body>
</html>