<!DOCTYPE html>
<html lang="zh" style="height: 100%" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta http-equiv="Content-Type" content="text/html;charset=UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="用户输入查询码查询真伪">
    <!--  使用 jQuery 框架  -->
    <script th:src="@{/webjars/jquery/3.4.1/jquery.js}"></script>
    <!--  使用 bootstrap 框架-->
    <link rel="stylesheet" th:href="@{/webjars/bootstrap/3.3.7/css/bootstrap.css}">
    <link rel="stylesheet" th:href="@{/css/common.css}">
    <script th:src="@{/webjars/bootstrap/3.3.7/js/bootstrap.js}"></script>
    <title>产品真伪查询</title>
</head>
<body style="height: 100%">
<div th:replace="common::topbar"></div>
<div class="container-fluid bgcontain">
    <div class="row">
        <div class="col-sm-1 col-md-2 col-lg-3"></div>
        <div class="col-xs-12 col-sm-10 col-md-8 col-lg-6">
            <form method="post" th:action="@{/query}">
                <div class="input-group input-group-lg" style="padding-top: 30%">
                    <input type="text" name="serial" class="form-control" placeholder="请输入产品防伪编码"/>
                    <span class="input-group-btn">
                    <input type="submit" class="btn btn-success" style="width: 200px" value="查询"/>
                </span>
                </div>
            </form>
        </div>
        <div class="col-sm-1 col-md-2 col-lg-3"></div>
    </div>
</div>
</body>
</html>