<!DOCTYPE html>
<html lang="zh" style="height: 100%" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta http-equiv="Content-Type" content="text/html;charset=UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="用户输入查询码查询真伪">
    <!--  使用 jQuery 框架  -->
    <script th:src="@{/webjars/jquery/3.4.1/jquery.js}"></script>
    <!--  使用 bootstrap 框架-->
    <link rel="stylesheet" th:href="@{/webjars/bootstrap/3.3.7/css/bootstrap.css}">
    <link rel="stylesheet" th:href="@{/css/common.css}">
    <script th:src="@{/webjars/bootstrap/3.3.7/js/bootstrap.js}"></script>
    <title>您好，[[${session.user.getName()}]]</title>
</head>
<body style="height: 100%">
<div th:replace="common::Memtopbar(username=${session.user.getName()})"></div>
<div class="container-fluid bgcontain">
    <div class="row">
        <div class="col-sm-2 col-md-3 col-lg-3"></div>
        <div class="col-xs-12 col-sm-8 col-md-6 col-lg-6">
            <form th:if="${#strings.startsWith(session.user.getName(),'生皮加工厂')||#strings.startsWith(session.user.getName(),'皮革加工厂')}"
                  class="form-inline" method="post" th:action="@{/search/rawhide}" style="padding-top: 15%">
                <p>查询生皮：</p>
                <div class="form-group">
                    <label for="querySerialNum1">产品序列号</label>
                    <input type="text" style="width: 30em" class="form-control input-lg" id="querySerialNum1" name="serialNum">
                </div>
                <button type="submit" class="btn btn-success btn-lg">查询</button>
            </form>
            <form th:if="${#strings.startsWith(session.user.getName(),'皮包加工厂')||#strings.startsWith(session.user.getName(),'皮革加工厂')}"
                    class="form-inline" method="post" th:action="@{/search/leather}" style="padding-top: 15%">
                <p>查询皮革：</p>
                <div class="form-group">
                    <label for="querySerialNum2">产品序列号</label>
                    <input type="text" style="width: 30em" class="form-control input-lg" id="querySerialNum2" name="serialNum">
                </div>
                <button type="submit" class="btn btn-success btn-lg">查询</button>
            </form>
            <form th:if="${#strings.startsWith(session.user.getName(),'皮包加工厂')||#strings.startsWith(session.user.getName(),'零售商')}"
                    class="form-inline" method="post" th:action="@{/search/commodity}" style="padding-top: 15%">
                <p>查询皮包：</p>
                <div class="form-group">
                    <label for="querySerialNum3">产品序列号</label>
                    <input type="text" style="width: 30em" class="form-control input-lg" id="querySerialNum3" name="serialNum">
                </div>
                <button type="submit" class="btn btn-success btn-lg">查询</button>
            </form>
        </div>
        <div class="col-sm-2 col-md-3 col-lg-3"></div>
    </div>
</div>
</body>
</html>