<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>PC聊天</title>
    <link rel="stylesheet" href="css/talk.css">
</head>
<body>
	<header>导航栏</header>
<div class="main">
    <div class="top">
        
    </div>
    <div class="box">
        <div class="chat-list">
            <div class="list-box">
                <img class="chat-head" src="../static/img/img-header2.jpg" alt="">
                <div class="chat-rig">
                    <p class="title">客服1</p>
                    <p class="text">留言！！！</p>
                </div>
            </div>
            <div class="list-box">
                <img class="chat-head" src="../static/img/img-header2.jpg" alt="">
                <div class="chat-rig">
                    <p class="title">客服2</p>
                    <p class="text">咨询</p>
                </div>
            </div>
            
        </div>
        <div class="box-right">
            <div class="recvfrom">
                <div class="nav-top">
                    <p>服务客服</p>
                </div>
                <div class="news-top">
                    <ul>
                        <li class="other">
                            <div class="avatar"><img src="../static/img/img-header2.jpg" alt=""></div>
                            <div class="msg">
                                <p class="msg-name">客服</p>
                                <p class="msg-text">你好！ </p>
                                <time>20:18</time>
                            </div>
                        </li>
                        <li class="self">
                            <div class="msg">
                                <p class="msg-name">用户名</p>
                                <p class="msg-text">我要咨询问题。。。。。</p>
                                <time>20:18</time>
                            </div>
                        </li>
                        <li class="self">
                            <div class="msg">
                                <p class="msg-name">用户名</p>
                                <p class="msg-text">咨询问题1</p>
                                <time>20:18</time>
                            </div>
                        </li>
                        <li class="other">
                            <div class="msg">
                                <p class="msg-name">客服回答</p>
                                <p class="msg-text">回答问题1</p>
                                <time>20:18</time>
                            </div>
                        </li>
                        <li class="self">
                            <div class="msg">
                                <p class="msg-name">用户名</p>
                                <p class="msg-text">咨询问题2</emoji></p>
                                <time>20:18</time>
                            </div>
                        </li>
                        <li class="other">
                            <div class="msg">
                                <p class="msg-name">客服</p>
                                <p class="msg-text">回答问题2</p>
                                <time>20:18</time>
                            </div>
                        </li>
                        <li class="self">
                         	<div class="msg">
                                <p class="msg-name">用户</p>
                                <p class="msg-text">。。。。。</p>
                                <time>20:18</time>
                            </div>
                        </li>
                    </ul>
                </div>
            </div>
            <div class="sendto">
                <div class="but-nav">
                    <ul>
                        <li class="font"></li>
                        <li class="face"></li>
                        <li class="cut"></li>
                        <li class="page"></li>
                        <li class="old"></li>
                    </ul>
                </div>
                <div class="but-text">
                    <textarea name="" id="" cols="110" rows="6"></textarea>
                    <a href="#" class="button">发送</a>
                </div>
            </div>
        </div>
 
    </div>
 
 
</div>
<footer >
        底部
</footer>
</body>

</html>
